.nav {
  display: block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: rgb(190, 190, 190);
  height: 50px;
}

.nav-item{
  display: inline-block;
  padding: 0.5rem 0.9rem;
  float: right;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 0.9rem;
}


.question-container{
  width: 50%;
}

.greeting {
  text-align: center;
  padding: 10px;
}

img {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.answer-form{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.answer-form > label {
  margin: 0.75rem;
}

#answer {
  margin: 0.75rem;
}

.sound-container > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}