.login-page{
  margin: auto; 
  width: 50%;
  text-align: center;
}

.btn2{
  display: inline-block;
  width: auto;
  font-size: 1.2em;
  border: 2px solid black; 
  font-weight: 800;
  border-radius: 15%;
  padding: 10px;
  text-decoration: none;
  color: rgb(65, 65, 65);
  margin-bottom: 10px;
}

.btn2:hover{
  font-size: 1.5em;
}


