.registration-container{
  margin: auto; 
  width: 50%;
  text-align: center;
}

h1 {
  margin-top: 15-px;
}

.registration-container > form {
  display: block;
}
.registration-container > input {
  display: block;
}

.registration-container > label {
  display: block;
  margin-top: 10px;
}

#username, #password, #name {
  margin-bottom: 10px;
}

.reg-btn{
  margin-top: 10px;
}

.reg-btn:hover{
  font-size: 1.5rem
}